<h1>Ajouter une utilisateurs</h1>
<form action="/user/new" method="POST">
    Nom : 
    <input type="text" name="lastname" ><br>
    Prénom : 
    <input type="text" name="firstname" ><br>

    <input type="submit" name="save" value="Sauver"><br>
    <input type="submit"value="Retour à la liste" formaction="/user"> 
</form>