<h1>Ajouter une utilisateurs</h1>
<form action="/user/add" method="POST">
    label 
    <input type="text" name="lastname" ><br>
    Done : 
    <input type="text" name="firstanme" ><br>

    <input type="submit" name="save" value="Sauver"><br>
    <input type="submit"value="Retour à la liste" formaction="/user"> 
</form>